
    color: darkorange;
    background-color: aqua;
}
h2{
    background-color: aqua;
}
h2{
    color: black;
    background-color: red;
}
h1,p{
    color: red;
    background-color: yellow;
}